<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookMySpot</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>
    <div *ngIf="ponoviRezervacijuBool" class="blur" id="blur">
        <div class="popup">
          <p class="popuptext" *ngIf="isSmjestaj==false">
            Odaberite datum i vrijeme nove rezervacije
          </p>
          <p class="popuptext" *ngIf="isSmjestaj">
            Odaberite datum useljenja i datum iseljenja nove rezervacije
          </p>
          <div class="datumRez" *ngIf="isSmjestaj==false">
            <label for="datumRezervacije" >Datum termina:</label>
            <input [(ngModel)]="odabraniDatum" [min]="minDate" (change)="onDatumChange()" type="date" id="datumRezP" name="datumRezervacije" />
          </div>

          <div class="datumRez" *ngIf="isSmjestaj==true">
            <label for="datumRezervacije" >Datum useljenja:</label>
            <input [(ngModel)]="datumPocetka" (ngModelChange)="onDatumPocetkaChange()" type="date" id="datumRezP" name="datumPocetkaRezervacije" [min]="minDate"/>
          </div>

          <div class="datumRez" *ngIf="isSmjestaj==true">
            <label for="datumRezervacije" >Datum iseljenja:</label>
            <input [(ngModel)]="datumKraja" type="date" id="datumRezP" name="datumKrajaRezervacije" [min]="datumPocetka" [disabled]="!datumPocetka"/>
          </div>
  
          <div class="datumRez" *ngIf="isSmjestaj==false">
            <label for="appt">Vrijeme početka termina:</label>
            <select [(ngModel)] = "odabranoVrijeme" class="datumRezV" required>
              <option [ngValue]="null" disabled>Odaberi vrijeme</option>
              <option *ngFor="let termin of dostupniTermini" [ngValue]="termin">{{termin}}</option>
            </select>
          </div>
          <button *ngIf="isSmjestaj==false" (click)="rezervisiTermin()" class="btnok">Rezerviraj</button>
          <button *ngIf="isSmjestaj==true" (click)="rezervisiTerminSmjestaja()" class="btnok">Rezerviraj</button>
          <button (click)="ugasiPopup()" class="btnok">Odustani</button>
        </div>
      </div>
    <p class="title">Historija</p>

    <div class="filter">
            <svg (click)="getListaTrenutnih()" id="trenutneSvg" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-bookmark"
                viewBox="0 0 16 16">
                <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
            </svg>

            <svg (click)="getListaPrethodnih()" id="prethodneSvg" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3" />
            </svg>
    </div>

    <div class="reservationList">
        <h3 *ngIf="aktivne == true">Aktivne rezervacije</h3>
        <h3 *ngIf="aktivne == false">Prethodne rezervacije</h3>

        <div class="reservation" *ngFor="let rezervacija of listaRezervacija">
            <div class="profilePicAndName">
                <img [src] = "rezervacija.usluzniObjekt.slika" alt="" width="50px" height="40px" style="margin-right: 10px" />
                <p>{{rezervacija.usluzniObjekt.nazivObjekta}}</p>
            </div>
            <div class="reservationDetails">
                <div class="reservationTime">
                    <div class="datum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path
                                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                            <path
                                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                        <p class="reservation2" *ngIf="!rezervacija.usluzniObjekt.isSmjestaj">Datum: {{formatirajDatum(rezervacija.datumRezervacije) | date:'dd.MM.yyyy.'}}</p>
                        <p class="reservation2" *ngIf="rezervacija.usluzniObjekt.isSmjestaj">Datum useljenja: {{formatirajDatum(rezervacija.rezervacijaPocetak) | date:'dd.MM.yyyy.'}}</p>

                    </div>
                    <div class="datum">
                        <svg *ngIf="!rezervacija.usluzniObjekt.isSmjestaj" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                        </svg>
                        <svg *ngIf="rezervacija.usluzniObjekt.isSmjestaj" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path
                                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                            <path
                                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                        <p class="reservation2" *ngIf="!rezervacija.usluzniObjekt.isSmjestaj">Vrijeme: {{rezervacija.rezervacijaPocetak}} - {{rezervacija.rezervacijaKraj}}</p>
                        <p class="reservation2" *ngIf="rezervacija.usluzniObjekt.isSmjestaj" >Datum iseljenja: {{rezervacija.rezervacijaKraj | date:'dd.MM.yyyy.'}}</p>
                    </div>
                </div>
                <div>
                    <div class="datum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                        </svg>
                        <p class="reservation2">Usluga: {{rezervacija.usluga.naziv}}</p>
                    </div>
                    <button (click)="otkaziRezervaciju(rezervacija.rezervacijaID)" class="btnOtkazi" *ngIf="rezervacija.otkazano == false && rezervacija.zavrseno == false">Otkaži rezervaciju</button>
                    <button class="btnZavrsena" *ngIf="rezervacija.zavrseno == true">Završena</button>
                    <button class="btnOtkazana" *ngIf="rezervacija.otkazano == true">Otkazana</button>
                    <button (click)="ponoviRezervaciju(rezervacija)" class="btnOtkazi" *ngIf="rezervacija.otkazano == true || rezervacija.zavrseno == true">Ponovi rezervaciju</button>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

