<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>

<div class="about">
  <p style="margin-top: 70px" class="AboutUs">Pitanja i odgovori</p>
  <div class="aboutText">
    <div>
      <button [routerLink]="['/pitanjaOdgovori']">Odgovorena pitanja</button>
      <button *ngIf="loginInfo().isLogiran && (loginInfo().autentifikacijaToken?.korisnickiNalog?.isManager || loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator)" [routerLink]="['/pitanjaOdgovori/neodgovorenaPitanja']">Pristigla pitanja <span class="brojUDugmetu" *ngIf="brojPristiglihPitanja !== 0">{{brojPristiglihPitanja}}</span></button>
      <button *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator" [routerLink]="['/pitanjaOdgovori/pitanjaAdminLista']">Sva pitanja</button>
    </div>

    <div class="accountsContainer">
      <div *ngFor="let item of pitanja" class="comment" style="padding-left: 20px; padding-right: 20px; padding-top: 10px">
        <p class="komentarOsobe"><b class="boldirano">Pitanje ID:</b> {{item.id}}</p>
        <p class="komentarOsobe"><b class="boldirano">Pitanje:</b> {{item.pitanje}}</p>
        <p class="komentarOsobe"><b class="boldirano">Odgovor:</b> {{item.odgovor}}</p>
        <p class="komentarOsobe"><b class="boldirano">Datum Kreiranja:</b> {{ item.datumKreiranja | date:'dd.MM.yyyy, HH:mm'}}</p>
        <br>
        <p class="komentarOsobe">Informacije o osobi koja je postavila pitanje:</p>
        <br>
        <p class="komentarOsobe"><b class="boldirano">Osoba Id:</b> {{item.osobaID}}</p>
        <p class="komentarOsobe"><b class="boldirano">Ime:</b> {{item.ime}}</p>
        <p class="komentarOsobe"><b class="boldirano">Prezime:</b> {{item.prezime}}</p>
        <p class="komentarOsobe"><b class="boldirano">Osoba Id:</b> {{item.osobaID}}</p>
        <p class="komentarOsobe"><b class="boldirano">Email:</b> {{item.email}}</p>
        <div class="dugmici">
          <button (click)="ObrisiPitanje(item.id)" class="dugmic2">Obriši</button>
          <button (click)="editPitanje(item.id)" class="dugmic2">Edituj</button>
        </div>
      </div>
    </div>









    <div style="margin-top: 20px; text-align: center;">
      <button (click)="previousPage()" style="margin-right: 10px;">Prethodna</button>
      <span style="color: black">Stranica {{ currentPage }} od {{ totalPages }}</span>
      <button (click)="nextPage()" style="margin-left: 10px;">Sljedeća</button>
    </div>

    <div *ngIf="isModalVisible" class="overlay" (click)="toggleModal()"></div>

    <div class="containerGlavni" *ngIf="isModalVisible">
      <div style="color: black; width: 100%" class="question">
        <textarea style="color: black; width: 100%" type="text" [(ngModel)]="parPitanjeOdgovor!.pitanje"></textarea>
      </div>
      <div style="color: black; width: 100%" class="answer">
        <textarea style="color: black; width: 100%" type="text" [(ngModel)]="parPitanjeOdgovor!.odgovor"></textarea>
      </div>
      <div class="dugmici">
      <button (click)="UpdatePitanjeOdgovor(parPitanjeOdgovor?.id,
      parPitanjeOdgovor?.pitanje,
      parPitanjeOdgovor?.odgovor)">Pošalji</button>
      <button  (click)="toggleModal()">Odustani</button>
      </div>
    </div>

  </div>
</div>

</body>

</html>


