<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>

<div class="about">
  <p style="margin-top: 70px" class="AboutUs">Pitanja i odgovori</p>
  <div class="aboutText">
    <div class="contentCijeli">
      <div class="dugmici">
      <button (click)="expandAll()">Proširi sve</button>
      <button (click)="unexpandAll()">Zatvori sve</button>
      <button [routerLink]="['/pitanjaOdgovori']">Odgovorena pitanja</button>
      <button *ngIf="loginInfo().isLogiran && (loginInfo().autentifikacijaToken?.korisnickiNalog?.isManager || loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator)" [routerLink]="['/neodgovorenaPitanja']">Pristigla pitanja <span class="brojUDugmetu" *ngIf="brojPristiglihPitanja !== 0">{{brojPristiglihPitanja}}</span></button>
      <button *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator" [routerLink]="['/pitanjaOdgovori/pitanjaAdminLista']">Sva pitanja</button>
      </div>

      <p *ngIf="faqItems?.length===0" class="statusText">Trentuno nema prisiglih pitanja</p>
      <div *ngFor="let item of faqItems" class="containerGlavni">
        <div class="question" [ngClass]="{'expanded': item.isExpanded}" (click)="toggle(item)">
          {{ item.pitanje }}
          <div class="relative-time">
            {{ item.relativeTime }}
          </div>
        </div>
        <div class="answer" *ngIf="item.isExpanded">
          <label for="odgovorNaPitanje">Odgovor: </label>
          <textarea style="color: black; width: 100%" [(ngModel)]="item.odgovor" id="odgovorNaPitanje" name="odgovorNaPitanje" type="text"></textarea>
          <button (click)="PosaljiOdgovor(item.id, item.odgovor)" style="background-color: white; color: black">Pošalji</button>
          <button (click)="ObrisiPitanje(item.id)" style="background-color: red; color: white; margin-left: auto; float: right;">Obriši Pitanje</button>
        </div>
      </div>
    </div>


  </div>
</div>

</body>

</html>
