<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>

<div class="about">
  <p class="AboutUs">O Nama</p>
  <div class="aboutText">
    <img src="/assets/BookMySpot.png" style="height: 110px" />
    <br />
    <p style="font-style: italic; font-size: 1.3rem; text-align: center; ">
      Dobrodošli u BookMySpot!
    </p>
    <br />
    <p style="font-size: 1rem;">
      BookMySpot je inovativna platforma koja vam omogućava jednostavno i
      brzo rezerviranje smještaja, salona ljepote, ugostiteljskih objekata,
      ordinacija i raznih usluga, sve na jednom mjestu. Naša misija je
      spojiti vas s najboljim destinacijama i pružateljima usluga,
      omogućavajući vam da uživate u vrhunskom iskustvu bez nepotrebnog
      stresa ili čekanja.
    </p>
    <br />
    <br />
    <p style="font-style: italic; font-size: 1.3rem; text-align: center;  ">
      Šta nas čini posebnima?
    </p>
    <br />
    <p style="font-size: 1rem;">
      ➼ Sve na jednom mjestu: BookMySpot vam pruža širok spektar opcija za
      rezervaciju, bilo da tražite savršen smještaj za odmor, opuštajući
      tretman u salonu ljepote, ukusan obrok u restoranu ili stručnu
      medicinsku uslugu u ordinaciji.
    </p>
    <p style="font-size: 1rem;">
      ➼ Jednostavno i brzo: Naša platforma je dizajnirana s fokusom na
      korisničko iskustvo. Brza navigacija i jednostavno sučelje omogućavaju
      vam da rezervirate svoje mjesto u svega nekoliko klikova.
    </p>
    <p style="font-size: 1rem;">
      ➼ Recenzije i ocjene: Povratne informacije naših korisnika su nam
      izuzetno važne. Pružamo vam mogućnost čitanja recenzija drugih
      korisnika kako biste donijeli informiranu odluku i dijelili vlastita
      iskustva.
    </p>
    <p style="font-size: 1rem;">
      ➼ Personalizirane preporuke: Na temelju vaših preferencija i povijesti
      rezervacija, nudimo vam personalizirane preporuke kako biste uvijek
      pronašli ono što vam najbolje odgovara.
    </p>
  </div>
</div>

<script src="script.js"></script>
</body>

</html>

