<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>

<div class="about">
  <p style="margin-top: 70px" class="AboutUs">Pitanja i odgovori</p>
  <div class="aboutText">

    <div class="pitanjaOdgovoriContainer">
      <div>
        <button (click)="expandAll()">Proširi sve</button>
        <button (click)="unexpandAll()">Zatvori sve</button>
        <button [routerLink]="['/pitanjaOdgovori']">Odgovorena pitanja</button>
        <button *ngIf="loginInfo().isLogiran && (loginInfo().autentifikacijaToken?.korisnickiNalog?.isManager || loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator)" [routerLink]="['/pitanjaOdgovori/neodgovorenaPitanja']">Pristigla pitanja <span class="brojUDugmetu" *ngIf="brojPristiglihPitanja !== 0">{{brojPristiglihPitanja}}</span></button>
        <button *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator" [routerLink]="['/pitanjaOdgovori/pitanjaAdminLista']">Sva pitanja</button>
      </div>

      <p>Pretraži:</p>
      <input style="color: black; width: 100%" (input)="Pretraga($event)">

      <div *ngFor="let item of faqItems" class="containerGlavni">
        <div class="question" [ngClass]="{'expanded': item.isExpanded}" (click)="toggle(item)">
          {{ item.pitanje }}
          <div class="relative-time">
            {{ item.relativeTime }}
          </div>
        </div>
        <div class="answer" *ngIf="item.isExpanded">
          {{ item.odgovor }}
        </div>
      </div>

      <div class="postaviPitanjeKontejnercic" *ngIf="loginInfo().isLogiran == true">
        <label style="color: black" for="postaviPitanje">Postavi pitanje: </label>
        <textarea style="color: black; width: 100%" [(ngModel)]="novoPitanje" id="postaviPitanje" type="text"></textarea>
        <button style="width: 300px" (click)="PostaviPitanje()">Pošalji</button>
      </div>
    </div>


  </div>
</div>

</body>

</html>
