<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>

<div class="about">
  <p class="AboutUs">O Nama</p>
  <div class="aboutText">
    <img src="/assets/BookMySpot.png" style="height: 110px" />
    <br />
    <p style="font-style: italic; font-size: 1.3rem; text-align: center; ">
      Dobrodošli u BookMySpot!
    </p>
    <br />

    <div class="markdownContainer">
      <div class="plainTextarea">
        <textarea class="tekst" [(ngModel)]="tekst" id="content" name="content"></textarea>
      </div>
      <div class="markdownTextarea">
        <markdown style="color: black" [data]="tekst"></markdown>
      </div>
    </div>
    <button [routerLink]="['/oNama']">Spasi promjene</button>
  </div>
</div>

</body>

</html>
