.titleHotel {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #ebe3d5;
  }

  .titleIRatingHotel {
    text-align: center;
  }

  /* Slideshow container */
  .slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
    margin-top: 20px;
  }

  /* Make the images invisible by default */

  /* forward & Back buttons */
  .Back,
  .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 10px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  /*when the user hovers,add a black background with some little opacity */
  .Back:hover,
  .forward:hover {
    background-color: #b0a69556;
  }

  /* Content */
  .info {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }

  /* The circles or bullets indicators */
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background: linear-gradient(92.18deg, #b0a695 -25.78%, #776b5d 123.02%);
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .enable,
  .dots:hover {
    background: linear-gradient(92.18deg, #b0a695 -25.78%, #776b5d 123.02%);
    opacity: 1;
  }

  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 2;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 2;
    }
  }

  .Cjenovnik {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #ebe3d5;
    margin-top: 20px;
    width: 50%;
  }

  .Cjenovnik p {
    font-size: 1rem;
    color: #151515;
  }

  h3 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .VansezonskeCijene {
    border-bottom: dashed;
    color: black;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }

  .SezonskeCijene {
    color: black;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }

  .VansezonskeCijene table {
    margin-bottom: 10px;
  }

  .tabelaVanSezonske,
  .tabelaSezonske {
    text-align: center;
  }

  .tabelaVanSezonske td,
  th,
  .tabelaSezonske td,
  th {
    color: black;
  }

  .tabelaSezonske {
    width: 100%;
  }

  .divZaZapocniRezervaciju {
    display: flex;
    justify-content: center;
  }

  .dugmicZapocni {
    margin-top: 20px;
    width: 100%;
    background-color: #ebe3d5;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    padding: 6px;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
  }

  .cijenovnikTabela{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
  }

  .cijenovnikTabela td, th
  {
    color: black;
  }

  .cijenovnikTabela thead th{
    color: black;
  }

  .rezervacijaSmjestaja {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #ebe3d5;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    padding: 10px;
  }

  .inputiRezervacije,
  input {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: #776b5d;
    border: none;
    border-radius: 5px;
  }

  input {
    padding: 5px;
  }

  select {
    margin-bottom: 10px;
    background-color: #776b5d;
    border: none;
    border-radius: 5px;
  }

  .date-select select {
    background-color: #776b5d;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
  }

  .datumRez {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

.move-in-row,
.move-out-row {
  display: flex;
  gap: 1rem;
}

.date-select {
  display: flex;
  flex: 1;
  width: 250px;
}

  #datumRezP {
    width: 60%;
    margin-bottom: 0;
    background-color: #776b5d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    user-select: none;
  }

  .datumRezV{
    width: 60%;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
  }

  #Email {
    width: 100%;
  }

  select:required:invalid {
    color: white;
  }

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: white;
  }

  .datumRez option{
   text-align: center;
  }

  label {
    color: black;
    font-size: 1.2rem;
  }

  ::placeholder {
    color: white;
  }

  .buttonRezervisi {
    height: 35px;
    width: 120px;
    background-color: #776b5d;
    color: white;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor:pointer;
  }

  .comment {
    background-color: #776b5d;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .komentarOsobe {
    margin-top: 10px;
  }

  .profilePicAndName {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #mesidzboks {
    width: 100%;
    color: #151515;
    padding: 5px;
    border-radius: 5px;
  }

  .divZaPosalji {
    display: flex;
    justify-content: center;
  }

  .buttonPosalji {
    background-color: #ebe3d5;
    border-radius: 5px;
    border: none;
    color: #151515;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 120px;
    font-size: 1.2rem;
    cursor:pointer;
  }

  .rezervacijaBox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .starRating{
    display: flex;
    justify-content: center;
  }

  .starRating svg {
    padding: 5px;
  }

  .uslugaSelect{
      margin-bottom: 10px;
      background-color: #b0a695;
      border: none;
      border-radius: 5px;
      width: 60%;
      color: white;
      padding: 5px;
      font-size: 1.2rem;
  }

  .buttonBox
  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .favoritBtn
  {
    height: 35px;
    width: 170px;
    background-color: #776b5d;
    color: white;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor:pointer;
  }

  .karticnoBox
  {
    display: flex;
    flex-direction: row;
  }

