<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookMySpot</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
</head>

<body>
    <div class="titleIRatingHotel">
        <p class="titleHotel">{{usluzniObjekt?.nazivObjekta}}</p>
        <div class="starRating" >
          <ng-container *ngFor="let star of getStars(); let i = index">
            <svg *ngIf="i < filledStars" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path
                  d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            <svg *ngIf="i >= filledStars" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
          </ng-container>
        </div>
    </div>
    <div class="slideshow-container fade">
        <div>
          <img [src]="usluzniObjekt?.slika" style="width: 100%; border-radius: 5px;" />
        </div>
    </div>
    <div class="buttonBox">
      <button *ngIf="usluzniObjekt?.isFavorit==false && loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isKorisnik" (click)="dodajFavorit()" class="favoritBtn">Dodaj u favorite</button>
      <button *ngIf="usluzniObjekt?.isFavorit==true && loginInfo().isLogiran && loginInfo().autentifikacijaToken?.korisnickiNalog?.isKorisnik" (click)="ukloniFavorit()" class="favoritBtn">Ukloni iz favorita</button>
    </div>

    <div class="Cjenovnik">
      <div class="SezonskeCijene">
        <h3>Cijene</h3>
        <table class="cijenovnikTabela">
          <thead>
          <th>Usluga</th>
          <th>Cijena</th>
          </thead>
          <tbody>
          <tr *ngFor="let usluga of listaUsluga">
            <td>
              {{ usluga.naziv }}
              <span *ngIf="usluga.trajanje">({{ usluga.trajanje }} min)</span>
            </td>
            <td>{{ usluga.cijena }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

      <div class="rezervacijaSmjestaja">
        <h3>Rezervacija</h3>

        <select *ngIf="usluzniObjekt?.isSmjestaj == false" [(ngModel)]="odabraniManager" (change)="onDatumUslugaChange()" required class="datumRezV" style="width: 100%;">
          <option [ngValue]="null" disabled>Odaberi radnika</option>
          <option *ngFor="let manager of listaManagera" [ngValue]="manager">{{manager.ime}} {{manager.prezime}} ({{manager.pozicija}})</option>
        </select>

        <select *ngIf="usluzniObjekt?.isSmjestaj == false" [(ngModel)]="odabranaUsluga" (change)="onDatumUslugaChange()" required class="datumRezV" style="width: 100%;">
          <option [ngValue]="null" disabled>Odaberi uslugu</option>
          <option *ngFor="let usluga of listaUsluga" [ngValue]="usluga">{{usluga.naziv}} ({{usluga.trajanje}} min)</option>
        </select>

        <select *ngIf="usluzniObjekt?.isSmjestaj == true" [(ngModel)]="odabranaUsluga" (change)="onSmjestajUsluga()" required class="datumRezV" style="width: 100%;">
          <option [ngValue]="null" disabled>Odaberi uslugu</option>
          <option *ngFor="let usluga of listaUsluga" [ngValue]="usluga">{{usluga.naziv}}</option>
        </select>

        <div *ngIf="usluzniObjekt?.isSmjestaj == false" class="datumRez">
          <label for="datumRezervacije">Datum termina:</label>
          <input [(ngModel)]="odabraniDatum" [min]="minDate" (change)="onDatumUslugaChange()" type="date" id="datumRezP" name="datumRezervacije" />
        </div>

        <div *ngIf="usluzniObjekt?.isSmjestaj == true" class="dates-container">
          <!-- Godina, mjesec i dan useljenja -->
          <div class="move-in-row">
            <div class="date-select">
              <label for="godina">Godina useljenja:</label>
              <select id="godina" [(ngModel)]="selectedGodina" (change)="onGodinaChange()" [disabled]="!odabranaUsluga">
                <option *ngFor="let godina of godine" [value]="godina">{{ godina }}</option>
              </select>
            </div>

            <div class="date-select">
              <label for="mjesec">Mjesec useljenja:</label>
              <select id="mjesec" [(ngModel)]="selectedMjesec" (change)="onMjesecChange()" [disabled]="!odabranaUsluga">
                <option *ngFor="let mjesec of mjeseci" [value]="mjesec">{{ mjesec }}</option>
              </select>
            </div>

            <div class="date-select">
              <label for="dan">Dan useljenja:</label>
              <select id="dan" [(ngModel)]="selectedDan" [disabled]="!odabranaUsluga">
                <option *ngFor="let dan of dani" [value]="dan">{{ dan }}</option>
              </select>
            </div>
          </div>

          <!-- Godina, mjesec i dan iseljenja -->
          <div class="move-out-row">
            <div class="date-select">
              <label for="godinaIseljenja">Godina iseljenja:</label>
              <select id="godinaIseljenja" [(ngModel)]="selectedGodinaIseljenja" [disabled]="!odabranaUsluga" (change)="onGodinaIseljenjaChange()">
                <option *ngFor="let godina of godineIseljenja" [value]="godina">{{ godina }}</option>
              </select>
            </div>

            <div class="date-select">
              <label for="mjesecIseljenja">Mjesec iseljenja:</label>
              <select id="mjesecIseljenja" [(ngModel)]="selectedMjesecIseljenja" [disabled]="!odabranaUsluga" (change)="onMjesecIseljenjaChange()">
                <option *ngFor="let mjesec of mjeseciIseljenja" [value]="mjesec">{{ mjesec }}</option>
              </select>
            </div>

            <div class="date-select">
              <label for="danIseljenja">Dan iseljenja:</label>
              <select id="danIseljenja" [(ngModel)]="selectedDanIseljenja" [disabled]="!odabranaUsluga">
                <option *ngFor="let dan of daniIseljenja" [value]="dan">{{ dan }}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="usluzniObjekt?.isSmjestaj == true" class="karticnoBox">
          <label for="karticnoPlacanjeCheckbox">Kartično plaćanje:</label>
          <input [(ngModel)]="karticnoPlacanje" type="checkbox" id="karticnoPlacanjeCheckbox" name="karticnoPlacanjeCheckbox">
        </div>

        <div class="datumRez" *ngIf="usluzniObjekt?.isSmjestaj == false">
          <label for="appt">Vrijeme početka termina:</label>
          <select [(ngModel)] = "odabranoVrijeme" class="datumRezV" required>
            <option [ngValue]="null" disabled>Odaberi vrijeme</option>
            <option *ngFor="let termin of dostupniTermini" [ngValue]="termin">{{termin}}</option>
          </select>
        </div>

        <div class="rezervacijaBox">
          <button *ngIf="loginInfo().isLogiran == true && usluzniObjekt?.isSmjestaj == false && loginInfo().autentifikacijaToken?.korisnickiNalog?.isKorisnik" class="buttonRezervisi" (click)="rezervisiTermin()">Rezerviši</button>
          <button *ngIf="loginInfo().isLogiran == true && usluzniObjekt?.isSmjestaj == true && loginInfo().autentifikacijaToken?.korisnickiNalog?.isKorisnik" class="buttonRezervisi" (click)="rezervisiTerminSmjestaja()">Rezerviši</button>
          <p *ngIf="loginInfo().isLogiran == false" style="margin-bottom: 5px;">Morate biti prijavljeni kako bi ste izvršili rezervaciju.</p>
          <p *ngIf="loginInfo().isLogiran == true && (loginInfo().autentifikacijaToken?.korisnickiNalog?.isManager || loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator)" style="margin-bottom: 5px;">Vaše permisije ne dozvoljavaju izvršavanje rezervacije. Prijavite se kao User/Korisnik da biste izvršili rezervaciju!</p>
          <button *ngIf="loginInfo().isLogiran == false || (loginInfo().autentifikacijaToken?.korisnickiNalog?.isManager || loginInfo().autentifikacijaToken?.korisnickiNalog?.isAdministrator)" class="buttonRezervisi" (click)="prijava()">Prijava</button>
        </div>
      </div>


    <div class="rezervacijaSmjestaja">
        <h3>Komentari i ocjene</h3>
        <div class="comment" *ngFor="let recenzija of listaRecenzija">
          <div class="profilePicAndName">
            <img [src]="getImagePath(recenzija.korisnickiNalog.slika)" alt="" width="40px" height="40px" style="margin-right: 10px" />
            <p>{{recenzija.korisnickiNalog.ime}} {{recenzija.korisnickiNalog.prezime}}</p>
          </div>
          <div>
            <ng-container *ngFor="let star of getStars(); let i = index">
              <svg *ngIf="i < recenzija.recenzijaOcjena" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-star-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
              <svg *ngIf="i >= recenzija.recenzijaOcjena" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
            </ng-container>
          </div>
          <p class="komentarOsobe">{{recenzija.recenzijaTekst}}</p>
        </div>

        <div *ngIf="loginInfo().isLogiran == true && loginInfo().autentifikacijaToken?.korisnickiNalog?.isKorisnik == true" class="comment">
          <div class="profilePicAndName">
            <img [src]="getImagePath(logiraniKorisnik.slika)" alt="" width="40px" height="40px" style="margin-right: 10px" />
            <p>{{logiraniKorisnik.ime}} {{logiraniKorisnik.prezime}}</p>
          </div>
          <div>
            <select [(ngModel)]="odabranaOcjena" required class="uslugaSelect" style="width: 100%;">
              <option [ngValue]="null" disabled>Odaberi ocjenu</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <textarea [(ngModel)]="tekstRecenzije" name="" id="mesidzboks" cols="40" rows="5" style="background-color: #f2eade; resize: none;"></textarea>
          <div class="divZaPosalji">
            <button class="buttonPosalji" (click)="posaljiRecenziju()">Pošalji</button>
          </div>
        </div>
      </div>

    <div class="rezervacijaSmjestaja">
      <div class="comment">
        <h3 *ngIf="usluzniObjekt?.longitude !== 0 && usluzniObjekt?.latitude !== 0">Lokacija objekta na mapi</h3>
        <h3 *ngIf="usluzniObjekt?.longitude == 0 && usluzniObjekt?.latitude == 0">Menadžer nije unio lokaciju objekta na mapi</h3>
        <google-map height="400px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)" mapId="7e0b3d96efce35ea">
          <map-advanced-marker *ngIf="usluzniObjekt?.longitude !== 0 && usluzniObjekt?.latitude !== 0"
                               [position]="center"
                               [options]="markerOptions"
          ></map-advanced-marker>
        </google-map>
      </div>
    </div>

</body>
</html>
